
<div class="sou">
            <a href="http://www.sou.gov.se/"><img src="http://www.edelegationen.se/sites/all/themes/edel/image/graphics/logo-sou.png" alt="Statens offentliga utredningar"></a></div>

<address class="vcard">
            <span class="org">E-delegationen</span> | <span class="street-address">Karlavägen 100</span> | <span class="postal-code">103 33</span> <span class="locality">Stockholm</span><br>
            Tel: <a class="phone" href="tel:+4684051000">08-405 10 00</a><br>
            E-post: <a href="mailto:info@edelegationen.se">info@edelegationen.se</a>
</address>

