                        <ul class="topmenu">
							<li class="om"><a href="/om/"{% ifequal current "blogg" %} class="selected"{% endifequal %}>Om katalogen</a></li>
							<li class="tjanster"><a href="/tjanster/"{% ifequal current "data" %} class="selected"{% endifequal %}>Tjänster</a></li>
							<li class="organisationer"><a href="/organisationer/"{% ifequal current "appar" %} class="selected"{% endifequal %}>Organisationer</a></li>
							<li class="kontakt"><a href="/kontakt/"{% ifequal current "govtrack" %} class="selected"{% endifequal %}>Kontakt</a></li>
						</ul>
