{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="eightcol">
            <p>Tjänstekatalogen är tänkt att vara en central tjänstekatalog för alla Sveriges myndigheter och offentliga aktörer. Katalogen tillhandahåller de uppgifter som behövs för att hitta, förstå och använda respektive tjänst.</p>
            <p>Tjänstekatalogen vänder sig till dig som arbetar med att ta fram nya e-stjänster och har som syfte att göra det enklare att återanvända information som redan finns istället för att be privatpersoner och företag att mata in den igen.</p>
        </div>
        <div class="fourcol last">
            <h2>Sök i katalogen</h2>
            <div class="search">
                <label for="q">Sök efter:</label>
                <p><input type="text" id="q" cols="50" />
                <input type="submit" value="Sök" /></p>
                <p>Du kan också <a href="/tjanst/alla">visa alla tjänster</a> på en sida.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="fourcol">
            <div class="panel">
                <h2>Nya tjänster</h2>
                <p>Senast inlagda tjänsterna:</p>
                <ul class="services">
	                {% for service in new_services %}
                    <li><a href="/tjanst/{{service.contact_person.organization.slug}}/{{service.slug}}">{{service.name}}</a> av {{service.contact_person.organization.name}}</li>
    	            {% endfor %}
                </ul>
            </div>
		</div>
		<div class="fourcol">
            <div class="panel">
            <h2>Uppdaterade tjänster</h2>
			<p>Nyligen uppdaterade:</p>
                <ul class="services">
	                {% for service in updated_services %}
                    <li><a href="/tjanst/{{service.contact_person.organization.slug}}/{{service.slug}}">{{service.name}}</a> av {{service.contact_person.organization.name}}</li>
    	            {% endfor %}
                </ul>
            </div>
		</div>
		<div class="fourcol last">
            <div class="panel">
            <h2>Raportera ny tjänst</h2>
            <p>Saknar du dina tjänster i katalogen? Genom att anmäla tjänster till katalogen förenklar du för andra att återanvända din information. <a href="/">Kontakta xyz</a> för information om hur beskriver dina tjänster.</p>
            </div>
		</div>
	</div>
</div>
{% endblock %}
