/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    background-color: white;
    color: black;
    font-family: Georgia, serif;	
    font-size: 16px;
    line-height: 1.5em;
}

h1, h2, h3 {
    font-weight:normal;
}

h1, h2, h3 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 1em 0;
}

ul.services li {
    list-style-type: circle;
    margin: 0 0 10px 20px;
}

div.banner {
    background-color: #007399;
    background-image: url(http://beta.webbriktlinjer.se/lib/tpl/dwguideline-beta/images/header-flush.gif);
    background-repeat: repeat-x;
    margin-bottom: 1em;
    min-height:100px;
}

.logo a img {
    margin: 20px 20px 0px;
    float:left;
}
.logotext {
    color: white;
    float: left;
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 32px;
    padding-top:20px;
}

.logosubtext {
    font-size: 50%;
}
ul.topmenu {
    float:right;
}
ul.topmenu li {
    height: 1.2em;
    display:block;
    float:left;
    margin-right: 10px;
    padding: 10px 0 10px 0;
}
ul.topmenu li a {
    margin: 10px 20px;
    text-decoration:none;
    color: #fff;
}
	
.search {
    border: solid 1px #e1e1e1;
    padding: 10px 15px;
    background-color: #f9f9f9;
    margin: 0 0 20px 0;
}

.panel {
    min-height: 300px;
    margin: 0 0 20px 0;
}

label {
    font-weight:bold;
    display:block;
}

div.sou {
float: left;
margin: 0px 40px 20px 0px;

}

address.vcard {
float: left;
font-size: 0.9em;
font-style: normal;
line-height: 1.6em;
padding-top: 1em;
width: 40%;
}

#ft {
border-top: 1px solid #E0E0E0;
color: #777;
font-family: Georgia, 'Times New Roman', Times, serif;
min-height: 100px;
padding: 20px;
}    

span.label {
    font-weight:bold;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
